<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>New Account Activation</title>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700|Aclonica' rel='stylesheet' type='text/css'>	
</head>
<body>
	<table cellpadding="0" cellspacing="0" border="0" id="backgroundTable">
	<tr>
		<td>
			<h1>Hey There <%= user.username %></h1>
			Welcome to the sails-chat site. Click the link to activate your account!
			<a href="http://localhost:1337/user/<%= user.id %>/activate/<%= user.activationToken %>" target ="_blank" title="Activate Your Account">http://localhost:1337/user/<%= user.id %>/activate/<%= user.activationToken %></a>
		</td>
	</tr>
	</table>
	<!-- End of wrapper table -->
</body>
</html>
