<%- partial ('../partials/topbar.ejs') %>
<section id="gitlist-top-abstand"></section>

<!-- oAuth for Github and Twitter --> 
<%- partial ('../partials/oauth-twitter-github.ejs') %>

<!-- gitlist-sectionspace  
      DAILY SECTION
      DAILY GITLIST -->
    <section id="gitlist-sectionspace2-daily" class="pad-section">
        <%- partial ('../partials/gitlist-list-daily-front.ejs') %>  
    </section>

<!-- Alerts and Add banners Here --> 
<!-- /gitlist-sectionspace1 --> <!-- gitlist-sectionspace3 -->
    <section id="gitlist-sectionspace-alerts" class="pad-section">
        <%- partial ('../partials/advertising.ejs') %>  
    </section>
<!-- End Alerts and Add banners Here --> 
<!-- End gitlist-sectionspace1 --> <!-- gitlist-sectionspace3 -->


<!-- /gitlist-sectionspace-rest-part-1 --> 
<section id="gitlist-sectionspace-rest-part-1">
    <div class="container">
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <h2>Start your Free Gitlist Today!
            </h2><br>
    <p class="text-center">
    <a href="../g/login" class="btn btn-success btn-outline-rounded green"> start using gitlist<i class="fa fa-paper-plane" style="margin-left:10px;"></i></a>
        </p>              
    </div>
    </div>
</section>

<!-- gitlist-sectionspace1 gitlistusers voteup -->
   <!-- <section id="gitlist-sectionspace1" class="home">
        <div class="container gitlistusers-voteup">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="page-header">Gitlist Users</h2>
                </div>
                <div class="gitlist-userlist-front">
                    <li><img class="img-circle img-responsive img-center" src="http://placehold.it/40x40" alt=""></li>
                    <li><img class="img-circle img-responsive img-center" src="http://placehold.it/40x40" alt=""></li>
                    <li><img class="img-circle img-responsive img-center" src="http://placehold.it/40x40" alt=""></li>
                    <li><img class="img-circle img-responsive img-center" src="http://placehold.it/40x40" alt=""></li>
                    <li><img class="img-circle img-responsive img-center" src="http://placehold.it/40x40" alt=""></li>
                    <li><img class="img-circle img-responsive img-center" src="http://placehold.it/40x40" alt=""></li>
                    <li><img class="img-circle img-responsive img-center" src="http://placehold.it/40x40" alt=""></li>
                    <li><img class="img-circle img-responsive img-center" src="http://placehold.it/40x40" alt=""></li>
                    <li><img class="img-circle img-responsive img-center" src="http://placehold.it/40x40" alt=""></li>
                    <li><img class="img-circle img-responsive img-center" src="http://placehold.it/40x40" alt=""></li>
                    <li><img class="img-circle img-responsive img-center" src="http://placehold.it/40x40" alt=""></li>
                    <li><img class="img-circle img-responsive img-center" src="http://placehold.it/40x40" alt=""></li>
                    <li><img class="img-circle img-responsive img-center" src="http://placehold.it/40x40" alt=""></li>
                    <li><img class="img-circle img-responsive img-center" src="http://placehold.it/40x40" alt=""></li>
                    <li><img class="img-circle img-responsive img-center" src="http://placehold.it/40x40" alt=""></li>
                    <li><img class="img-circle img-responsive img-center" src="http://placehold.it/40x40" alt=""></li>
                    <li><img class="img-circle img-responsive img-center" src="http://placehold.it/40x40" alt=""></li>
                    <li><img class="img-circle img-responsive img-center" src="http://placehold.it/40x40" alt=""></li>
                    <li><img class="img-circle img-responsive img-center" src="http://placehold.it/40x40" alt=""></li>
                    <li><img class="img-circle img-responsive img-center" src="http://placehold.it/40x40" alt=""></li>
                    <li><img class="img-circle img-responsive img-center" src="http://placehold.it/40x40" alt=""></li>
                    <li><img class="img-circle img-responsive img-center" src="http://placehold.it/40x40" alt=""></li>
                    <li><img class="img-circle img-responsive img-center" src="http://placehold.it/40x40" alt=""></li>
                    <li><img class="img-circle img-responsive img-center" src="http://placehold.it/40x40" alt=""></li>
                    <li><img class="img-circle img-responsive img-center" src="http://placehold.it/40x40" alt=""></li>
                    <li><img class="img-circle img-responsive img-center" src="http://placehold.it/40x40" alt=""></li>
                    <li><img class="img-circle img-responsive img-center" src="http://placehold.it/40x40" alt=""></li>
                    <li><img class="img-circle img-responsive img-center" src="http://placehold.it/40x40" alt=""></li>
                    <li><img class="img-circle img-responsive img-center" src="http://placehold.it/40x40" alt=""></li>
                    <li><img class="img-circle img-responsive img-center" src="http://placehold.it/40x40" alt=""></li>
                    <li><img class="img-circle img-responsive img-center" src="http://placehold.it/40x40" alt=""></li>
                    <li><img class="img-circle img-responsive img-center" src="http://placehold.it/40x40" alt=""></li>
                    <li><img class="img-circle img-responsive img-center" src="http://placehold.it/40x40" alt=""></li>
                    <li><img class="img-circle img-responsive img-center" src="http://placehold.it/40x40" alt=""></li>
                    <li><img class="img-circle img-responsive img-center" src="http://placehold.it/40x40" alt=""></li>
                    <li><img class="img-circle img-responsive img-center" src="http://placehold.it/40x40" alt=""></li>
                </div>
            </div>
        </div>
    </section> --> 

<div id="search">
    <button type="button" class="close">&times;</button>
    <form>
        <input type="search" value="" placeholder="Search your Git" />
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>

<footer class="footer">
    <div class="container">
        <ul class="footer-links-list-copyright">
            <li> 
                <%- partial ('../partials/gitlist-user-counter.ejs') %>  
            </li>
        </ul>
        <ul class="footer-links-list">
            <%- partial ('../partials/gitlist-social-footer.ejs') %>  
            <hr>
        </ul>
    </div>
    <hr/>
    <div class="inner-gitlist-copyright">
        <%- partial ('../partials/copyright.ejs') %>  
    </div>
</footer>