<%- partial ('../partials/topbar.ejs') %>
<style>
    .reply-comments{
        width: 85%;
        margin-left: 10%;
    }
    .reply-comments h1{
        font-size: 18px;
        color: #427FED;
    }
    .reply-comment{
        margin: 20px 0 30px 5%;
    }
    .reply-comment h4{
        font-size: 14px;
        font-weight: bold;
        margin: 0;
    }
</style>
<input type="hidden" id="userid" value="<%- id%>" />
<input type="hidden" id="useremail" value="<%- email%>" />

<section id="gitlist-top-abstand"></section>
<!-- gitlist-sectionspace2 -->
<section id="gitlist-userpage-sectionspace" class="pad-section">
    <div class="container small" id="gitlist-container">
        <div class="row">
            <div class="col-sm-12">
                <div class="gitlist-media " data-liststory="liststory_" id="">
                    <div class="gitlist-center">
                        <div class="gitlist-vote">
                            <div class="gitlistvote_buttons ">
                                <a>
                                  <i class="fa fa-sort-asc"></i>
                                  <% if(!post.votes) post.votes = 0%>
                                  <em class="votes vote_count"><%- post.votes%></em>
                                </a>
                            </div>
                        </div>
                        <div class="gitlist-image">
                          <a class="" href="/<%- post.author.slug%>">
                              <img id="user-image" alt="images-profile" src="<%- post.author.picture%>">
                            </a>        
                        </div>
                        <div class="gitlistmedia-body">
                            <h4 class="gitlistmedia-heading">
                                <a class="git-title" href="" target="_blank"><%- post.title%></a>
                                <a class="lang" data-toggle="tooltip" href="" title="" data-original-title="Language">en</a>
                                <a class="gitdomain" href="">gitlist.io</a>
                            </h4>
                            <div class="sub-detail">
                                <span class="timestamp"></span>by <span class="verify_badge" data-placement="bottom" data-toggle="tooltip" title="" data-original-title="Verified Traveler"><i class="icon-ok-sign"></i></span> 
                                <a class="owner" href="/<%- post.author.slug%>"><%- post.author.username%></a>
                                <span class="tags">
                                   <!-- <a href="">#Italy</a>
                                    <a href="">#Code #Github</a> --> 
                                </span> 
                            </div>
                        </div>
                        <div class="right-options">
                            <div class="buttons dropdown">
                              <a class="comment-count loading" data-remote="true" href="">
                                <i class="fa fa-comments"></i> <span><%- post.comments.length%></span>
                              </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- The Git Image beginning here /* Introduction of the Git */ --> 
                    <div class="col-md-8"></div>
                    <div class="col-md-8" id="gitlist-comment-white">
                        <div id="comments">
                            <div class="comment-navigation clearfix">
                                <div class="comment-prev-nav"></div>
                                <div class="comment-next-nav"></div>
                            </div>
                        </div>
                        <div id="respond" class="comment-respond">

                            <% if(comments.length > 0) { %>
                                <% for(var i = 0; i < comments.length; i++) { %>
                                    <div id='<%- comments[i].id%>' class='comment [ panel panel-default ] panel-gitlist-plus'>
                                        <div class='dropdown'>
                                            <span class='dropdown-toggle' type='button' data-toggle='dropdown'>
                                                <span class='[ glyphicon glyphicon-chevron-down ]'></span>
                                            </span>
                                            <ul class='dropdown-menu' role='menu'>
                                                <li role='presentation'><a role='menuitem' tabindex='-1' href=''>Action</a></li>
                                                <li role='presentation'><a role='menuitem' tabindex='-1' href=''>Another action</a></li>
                                                <li role='presentation'><a role='menuitem' tabindex='-1' href=''>Something else here</a></li>
                                                <li role='presentation' class='divider'></li>
                                                <li role='presentation'><a role='menuitem' tabindex='-1' href=''>Separated link</a></li>
                                            </ul>
                                        </div>
                                        <div class='panel-gitlist-plus-tags'>
                                            <ul>
                                                <li>#openthedoors</li>
                                            </ul>
                                        </div>
                                        <div class='panel-heading'>
                                            <a href='/<%- comments[i].author.slug%>'><img class='[ img-circle pull-left ]' src='<%- comments[i].author.picture%>' style='width:46px;height46px;'></a>
                                            <h3><%- comments[i].author.username%></h3>
                                            <h5><span>Shared publicly</span> - <span id='createAt'><%- comments[i].author.createdAt%></span> </h5>
                                        </div>
                                        <div class='panel-body'>
                                            <p><%- comments[i].content%></p>
                                        </div>
                                        <div class='reply-comments'></div>
                                        <% if(username != "") { %> 
                                            <div class='panel-footer'>
                                                <button type='button' class='[ btn btn-default ]'>+1</button>
                                                <button type='button' class='[ btn btn-default ]'><span class='[ glyphicon glyphicon-share-alt ]'></span></button>
                                                <div class='input-placeholder'>Add a comment...</div>
                                            </div>
                                            <div class='panel-gitlist-plus-comment'>
                                                <img class='img-circle' src='<%- user.picture%>' style='width:46px;height46px;' alt='User Image'>
                                                <input type='hidden' id='loggedUser' value='<%- user.username%>'>
                                                <div class='panel-gitlist-plus-textarea'>
                                                    <textarea class='reply_content' rows='4'></textarea>
                                                    <button type='submit' class='reply_comment [ btn btn-success disabled ]' value='<%- user.username%>'>Post comment</button>
                                                    <button type='reset' class='[ btn btn-default ]'>Cancel</button>
                                                </div>
                                                <div class='clearfix'></div>
                                            </div>
                                        <% } %>
                                    </div>
                                    <br>
                                <% } %>
                            <% } %>   

                            <div class="form-group">
                                <% if(username != "") { %>   
                                    <label for="comment">Comment</label>
                                    <textarea id="comment" name="comment" cols="45" rows="8" aria-required="true" class="form-control"></textarea>
                                <% } %>
                            </div>
                            <% if(username != "") { %> 
                                <p class="form-allowed-tags">Text formatting is available via select <button id="allowed-tags-trigger" class="btn btn-link" type="button" data-toggle="collapse" data-target="#allowed-tags" aria-expanded="true">HTML</button>. </p>
                                <div id="allowed-tags" class="collapse in" aria-expanded="true">
                                    <pre>&lt;a href="" title=""&gt; &lt;abbr title=""&gt; &lt;acronym title=""&gt; &lt;b&gt; &lt;blockquote cite=""&gt; &lt;cite&gt; &lt;code&gt; &lt;del datetime=""&gt; &lt;em&gt; &lt;i&gt; &lt;q cite=""&gt; &lt;strike&gt; &lt;strong&gt;</pre>
                                    <p></p>
                                </div>           
                                <p class="form-submit">
                                    <input name="submit" type="button" id="submit" value="Post Comment" class="btn btn-primary gitlist-comment-button">
                                    <input type="hidden" name="comment_post_ID" value="3868" id="comment_post_ID" class="form-control">
                                    <input type="hidden" name="comment_parent" id="comment_parent" value="0" class="form-control">
                                </p>
                                <p class="comment-subscription-form">
                                    <input type="checkbox" name="subscribe_comments" id="subscribe_comments" value="subscribe" style="width: auto; -moz-appearance: checkbox; -webkit-appearance: checkbox;" class="subscribe_check"> 
                                    <label class="subscribe-label" id="subscribe-label" for="subscribe_comments">Notify me of follow-up comments by email.</label>
                                </p>
                                <p class="comment-subscription-form">
                                    <input type="checkbox" name="subscribe_blog" id="subscribe_blog" value="subscribe" style="width: auto; -moz-appearance: checkbox; -webkit-appearance: checkbox;" class="subscribe_check"> 
                                    <label class="subscribe-label" id="subscribe-blog-label" for="subscribe_blog">Notify me of new posts by email.</label>
                                </p>
                            <% } %>                             
                        </div>
                        <div class="alert alert-success" style="background:rgb(245, 245, 245);  border: 1px solid rgba(205, 205, 205, 0.952941);  color: #808080;">
                            <a href="../g/login/" class="btn btn-xs btn-primary pull-right" style="  background: #93B85C;font-weight:800;padding: 7px;">Sign Up for Free</a>
                            <strong>Info:</strong>  to join this conversation on <a href="../g/login/">Gitlist</a>.<br> Already have an account? Sign in to comment
                        </div>

                        <script type="text/javascript">
                            jQuery( function ( $ ) {
                                var ak_js = $( '#ak_js' );

                                // If the form field already exists just use that
                                if ( ak_js.length == 0 ) {
                                  ak_js = $( '<input type="hidden" id="ak_js" name="ak_js" />' );
                                }
                                else {
                                  ak_js.remove();
                                }

                                ak_js.val( ( new Date() ).getTime() );

                                // single page, front-end comment form
                                // inline comment reply, wp-admin
                                $( '#commentform, #replyrow td:first' ).append( ak_js );
                            } );
                        </script>
                    </div>
                    <div class="col-md-4" id="gitlist-sitebar" style="border-radius: 3px; border-right: 1px solid #e5e5e5; border-left: 1px solid #e5e5e5; border-top: 1px solid #e5e5e5; border-bottom: 1px solid #e5e5e5; margin-bottom: -1px;">
                        <h3 id="git_title"><%- post.title%></h3>
                        <p id="description"><%- post.description%></p>
                      <!--  <h3>#hashtags</h3> --> 
                        <ul id="hash_tags">
                        </ul>
                        <ul>
                            <li>Link to Git <a href="<%- post.url%>" target="_blank" id="gitlink"><i class="fa fa-github"></i> <%- post.url%></a></li>
                        </ul>
                       <!-- <h3>Votes</h3> --> 
                     <!-- but in the version 0.0.2   <ul>
                            <li><img class="img-circle img-responsive img-center" src="http://placehold.it/40x40" alt=""></li>
                            <li><img class="img-circle img-responsive img-center" src="http://placehold.it/40x40" alt=""></li>
                            <li><img class="img-circle img-responsive img-center" src="http://placehold.it/40x40" alt=""></li>
                            <li><img class="img-circle img-responsive img-center" src="http://placehold.it/40x40" alt=""></li>
                            <li><img class="img-circle img-responsive img-center" src="http://placehold.it/40x40" alt=""></li>
                            <li><img class="img-circle img-responsive img-center" src="http://placehold.it/40x40" alt=""></li>
                            <li><img class="img-circle img-responsive img-center" src="http://placehold.it/40x40" alt=""></li>
                            <li><img class="img-circle img-responsive img-center" src="http://placehold.it/40x40" alt=""></li>
                            <li><img class="img-circle img-responsive img-center" src="http://placehold.it/40x40" alt=""></li>
                        </ul> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- gitlist-sectionspace2 
<section id="gitlist-userpage-sectionspace-related-gits" class="pad-section">
    <div class="container small" id="gitlist-container">
        <div class="col-md-8">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header">Related Gits</h3>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <a href=""><img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt=""></a>
                    <p>Science Medium Theme </p>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <a href=""><img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt=""></a>
                    <p>Science Medium Theme </p>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <a href=""><img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt=""></a>
                    <p>Science Medium Theme </p>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <a href=""><img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt=""></a>
                    <p>Science Medium Theme </p>
                </div>
            </div>
        </div>
    </div>
</section>


--> 
<!-- /gitlist-sectionspace-rest-part-1 --> 
<section id="gitlist-sectionspace-rest-part-1">
    <div class="container">
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <h2>Start your Free Gitlist Today!
            </h2><br>
    <p class="text-center">
    <a href="../g/login" class="btn btn-success btn-outline-rounded green"> start using gitlist<i class="fa fa-paper-plane" style="margin-left:10px;"></i></a>
        </p>              
    </div>
    </div>
</section>


<footer class="footer">
    <div class="container">
        <ul class="footer-links-list-copyright">
            <li><%- partial ('../partials/gitlist-user-counter.ejs') %></li>
        </ul>
        <ul class="footer-links-list">
            <%- partial ('../partials/gitlist-social-footer.ejs') %>
            <hr>
        </ul>
    </div>
    <hr/>
    <div class="inner-gitlist-copyright">
        <%- partial ('../partials/copyright.ejs') %>  
    </div>
</footer>

<script type="text/javascript">
    var href = window.location.href;
    var params = href.split('/');
    var slug = params.pop();
    var postId = '';

    //-- Get a Git by Slug ---
    $.ajax({
        url: '/getGitBySlug',
        type: 'POST',
        data: {slug: slug},
        async:false,
        success: function(res){
            postId = res.id;
            //-- Display Git Info in header ------
            var today = new Date();
            var oneDay = 24*60*60*1000;
            var oneHour = 60*60*1000;
            var oneMinute = 60*1000;

            var mydate = new Date(res.createdAt);
            var diffDays = Math.round(Math.abs((today.getTime() - mydate.getTime())/(oneDay)));
            var diffHours = Math.round(Math.abs((today.getTime() - mydate.getTime())/(oneHour)));
            var diffMins = Math.round(Math.abs((today.getTime() - mydate.getTime())/(oneMinute)));
            var diff = '';
            
            if(diffDays != 0)
              diff = diffDays + " days ago";
            else if(diffHours != 0)
              diff = diffHours + " hours ago";
            else
              diff = diffMins + " minutes ago";

            var hashtags = res.hashtags;
            var tagsAry = hashtags.split(",");
            var tags = '';
            for(var i = 0; i < tagsAry.length; i++){
                var hash_first = tagsAry[i].replace(/\s+/g, '').substr(0,1); 
                if(hash_first == "#")               
                    tags += "<a href='/"+tagsAry[i].replace(/\s+/g, '')+"'>"+tagsAry[i].replace(/\s+/g, '')+"</a>";
                else
                    tags += "<a href='/#"+tagsAry[i].replace(/\s+/g, '')+"'>#"+tagsAry[i].replace(/\s+/g, '')+"</a>";
            }

            $(".timestamp").text(diff);
            $(".tags").html(tags);

            var hash_tags = '';
            for(var i = 0; i < tagsAry.length; i++){
                var hash_first = tagsAry[i].replace(/\s+/g, '').substr(0,1);                
                if(hash_first == "#"){
                    hash_tags += "<li><a href='/"+tagsAry[i].replace(/\s+/g, '')+"'>"+tagsAry[i].replace(/\s+/g, '')+"</a></li>&nbsp;";
                }else{
                    hash_tags += "<li><a href='/#"+tagsAry[i].replace(/\s+/g, '')+"'>#"+tagsAry[i].replace(/\s+/g, '')+"</a></li>&nbsp;";
                }
            }
            $("#hash_tags").html(hash_tags);

            $(".gitlistvote_buttons").click(function(){
                var id = res.id;
                var thisObj = $(this);

                $.ajax({
                    url: '/addVote',
                    type: 'POST',
                    data: {postId: id},
                    async: false,   
                    success: function(res){
                        var vote_count = res.votes;
                        $(thisObj).find(".vote_count").text(vote_count);                        
                    }
                });
            });
        }
    });

    //-- Post Comment --
    $("#submit").click(function(){
        var author = $("#userid").val();
        var useremail = $("#useremail").val();
        var content = $("#comment").val();
        var checkOpt = '';

        //-- Notify me of follow-up comments by email
        if($('.subscribe_check').is(':checked')){
            checkOpt = "yes";
        }else{
            checkOpt = "no";
        }

        if(content != ''){
            $.ajax({
                url: '/addComment',
                type: 'POST',
                data: {author: author, content: content, post: slug, checkOpt: checkOpt, email: useremail, postId: postId},
                async: false,   
                success: function(res){
                    window.location = '/git/'+res.post;
                }
            });     
        
        }else{
            $.notify("Please add a comment!", "error");
        }
    });

    $.ajax({
        url: '/getCommentsByGit',
        type: 'POST',
        data: {slug: slug},
        async: false,   
        success: function(res){
            for (var i = 0; i < res.length; i++) {                                
                var reply_comment = "";
                if(res[i].replyComments.length > 0){
                    reply_comment += "<h1>Reply Comments:</h1>";
                    for(var j = 0; j < res[i].replyComments.length; j++){
                        var author = res[i].replyComments[j].author;
                        $.ajax({
                            url: '/getUserByName',
                            type: 'POST',
                            data: {username: author},
                            async: false,   
                            success: function(res){
                                picture = res.picture;
                                userslug = res.slug;
                            }
                        });

                        reply_comment += "<div class='reply-comment'>";
                        reply_comment += "<a href='/"+userslug+"'> <img class='[ img-circle pull-left ]' src='"+picture+"' style='width:46px;height46px;'></a>";
                        reply_comment += "<h4>"+res[i].replyComments[j].author+"</h4>";
                        reply_comment += "<p>"+res[i].replyComments[j].content+"</p>";
                        reply_comment += "</div>";
                    }
                    $("#"+res[i].id+" .reply-comments").html(reply_comment);
                }
            }
        }
    });

    $(".reply_comment").click(function(){
        var author = $(this).val();
        var commentId = $(this).parents('.comment').attr('id');
        var reply_content = $(this).siblings('.reply_content').val();

        $.ajax({
            url: '/addReplyComment',
            type: 'POST',
            data: {author: author, commentId: commentId, content: reply_content},
            async: false,   
            success: function(res){
                window.location = '/git/'+res.post;
            }
        });
    });
</script>